* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fondo-suave: #90ff90;
    --fondo-fuerte: #00d000;
    --fondo-oscuro: #40c040;
    --fondo-negro: #101010;
    --fondo-blanco: #f9f9f9;

    --texto-color-suave: #90ff90;
    --texto-color-oscuro: #007000;
    --texto-color-fuerte: #00d000;
    --texto-negro: #000000;
    --texto-blanco: #f9f9f9;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: green;
  }
  
  ::selection {
    color: white;
    background: green
  }

html {
    scroll-behavior: smooth;
  }

body {
    background-color: var(--fondo-oscuro);
    font-family: 'Cabin', sans-serif;
    font-size: 1.1rem;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--fondo-suave);
    padding: 20px;
}

.text-cont {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: right;
    padding: 0 10px;
}

.big {
    font-size: 2em;
    color: var(--texto-color-oscuro);
}

.img-cont {
    background-color: #000000;
    color: var(--texto-blanco);
    width: 70%;
    max-width: 500px;
    height: 300px;
    border: 2px solid var(--fondo-negro);
}

.img-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 500px) {
    header {
        flex-direction: column;
        padding: 20px 5px;
    }
    .text-cont {
        text-align: left;
        padding: 20px 0 10px 0;
    }
    .img-cont {
        width: 100%;
    }
}

.nav {
    display: flex;
    position: sticky;
    top: -2px;
    z-index: 10;
    padding: 15px 15px 2px 15px;
    background-color: var(--fondo-suave);
}

.logo {
    background-color: var(--fondo-blanco);
    color: var(--texto-negro);
    width: fit-content;
    height: 24px;
    padding: 5px 5px 0 30px;
    margin: auto 0;
}

.nav-list {
    list-style: none;
    padding: 2px;
    width: fit-content;
    display: flex;
    margin-left: auto;
}

@media (max-width: 500px) {
    .nav {
        flex-direction: column;
        top: -45px;
    }
    .logo {
        margin: 0 0 20px 0;
    }
    .nav-list {
        margin-right: auto;
    }
}

nav a {
    color:var(--texto-negro);
    padding: 5px;
    margin: 2px;
    text-decoration: none;
    color: var(--texto-negro);
}

a:hover {
    color: var(--texto-blanco);
    background-color: var(--fondo-fuerte);
    cursor: pointer;
}

.banner {
    padding: 30px 0;
    font-size: 4rem;
    text-align: center;
}

.banner-1 {
    background-color: var(--fondo-suave);
    color: var(--texto-negro);
}

article {
    padding: 20px 20px;
}

@media (max-width: 500px) {
    article {
    padding: 20px 5px;
    }
}

section {
    max-width: 800px;
    margin: 40px auto;
}

.titulo-parrafo p {
    color: var(--texto-blanco);
    margin-top: 10px;
}

.bloque-parrafo, .parrafo-bloque {
    display: flex;
}

.bloque {
    min-width: 30%;
    padding: 10px;
}

.bloque-parrafo .texto p, .parrafo-bloque .texto p {
    margin-bottom: 10px;
}

.bloque-parrafo .texto p:last-of-type, .parrafo-bloque .texto p:last-of-type {
    margin-bottom: 0;
}

.bloque-parrafo .texto {
    margin-left: 10px;
    text-align: left;
}

.parrafo-bloque .texto {
    margin-right: 10px;
    text-align: right;
}

.bloque-parrafo .bloque {
    text-align: right;
}

.parrafo-bloque .bloque {
    text-align: left;
}

@media (max-width: 500px) {
    .bloque-parrafo {
        flex-direction: column;
    }
    .parrafo-bloque {
        flex-direction: column-reverse;
    }
    .bloque-parrafo .bloque, .parrafo-bloque .bloque {
        text-align: left;
        width: fit-content;
    }
    .bloque-parrafo .texto p, .parrafo-bloque .texto p {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .parrafo-bloque .texto, .bloque-parrafo .texto {
        margin: 0;
        text-align: left;
    }
}

.article-1 {
    background-color: var(--fondo-negro);
}

.article-1 .bloque {
    border: 2px solid var(--fondo-fuerte);
    color: var(--texto-blanco);
}

.article-1 .titulo-parrafo h2 {
    color: var(--texto-color-fuerte);
}

.article-1 .parrafo-bloque p, .article-1 .bloque-parrafo p {
    color: var(--fondo-suave);
}

.banner-2 {
    background-color: var(--fondo-oscuro);
    color: var(--texto-color-suave);
}

.article-2 {
    background-color: var(--fondo-suave);
    color: var(--texto-negro);
}

.article-2 .titulo-parrafo p {
    color: var(--texto-color-oscuro);
}

.article-2 .bloque {
    background-color: var(--fondo-negro);
    color: var(--texto-color-fuerte);
}

.banner-3 {
    background-color: var(--fondo-suave);
    color: var(--texto-color-fuerte);
}

.article-3 {
    background-color: var(--fondo-negro);
    color: var(--texto-blanco);
}

.article-3 .titulo-parrafo p {
    color: var(--texto-color-suave);
}

.article-3 .bloque-parrafo, .article-3 .parrafo-bloque {
    color: var(--fondo-blanco);
}

.article-3 .bloque {
    background-color: var(--fondo-suave);
    color: var(--texto-negro);
}

.banner-4 {
    background-color: var(--fondo-oscuro);
    color: var(--texto-blanco);
}

.article-4 {
    background-color: var(--fondo-suave);
}

.article-4 .titulo-parrafo h2 {
    color: var(--texto-blanco);
    background-color: var(--fondo-fuerte);
    padding: 10px;
    width: fit-content;
}

.article-4 .titulo-parrafo p {
    color: var(--texto-negro);
}

form {
    font-size: 1rem;
    background-color: var(--fondo-negro);
    color: var(--texto-blanco);
    padding: 20px 30px;
    margin: 60px auto 0 auto;
    max-width: 700px;
}

form input, form textarea, form select {
    background-color: var(--fondo-suave);
    border: none;
    outline: none;
    font-family: 'Cabin', sans-serif;
    width: 100%;
    margin: 2px 0;
    padding: 3px;
    transition: width 0.4s ease-in-out;
}

form textarea {
    min-height: 100px;
}

form input:focus, form textarea:focus, form select:focus {
    padding: 10px 3px;
  }

form input[type="radio"], form input[type="checkbox"] {
    width: 20px;
    margin-left: 20px;
    opacity: 0.7;
    accent-color: var(--fondo-fuerte);
}

form input[type="radio"]:checked, form input[type="checkbox"]:checked {
    opacity: 1;
    filter: saturate(200%);
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"], textarea, select, label {
    display: block;
}

.question {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 10px 0 5px 0;
}

form button {
    display: block;
    margin: 30px auto 0 auto;
    background-color: var(--fondo-negro);
    color: var(--texto-blanco);
    border: 2px solid var(--fondo-fuerte);
    padding: 5px;
}

form button:hover {
    background-color: var(--fondo-fuerte);
    color: var(--texto-negro);
}

@media (max-width: 500px) {
    form {
        padding: 10px 20px;
        max-width: 100%;
    }
}

footer {
    background-color: var(--fondo-oscuro);
    color: var(--texto-negro);
    text-align: center;
    padding: 40px;
}

footer p {
    margin-bottom: 20px;
}

footer ul {
    color: var(--texto-color-suave);
    width: fit-content;
    margin: 20px auto;
    list-style: none;
}